.loading-modal {
  .modal-container {
    .text-container {
      white-space: nowrap;

      h2 {
        font-size: 2.5rem;
      }
    }
  }
}

.controls {
  form {
    justify-content: space-around;
  }
}
